@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Red Hat Display', sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-[1280px] xl:max-w-[1024px] lg:max-w-[768px] md:max-w-[640px];
  }
}

body {
  height: 100vh;
  background: rgb(113 113 122);
}