@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Red Hat Display', sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-[1280px] xl:max-w-[1024px] lg:max-w-[768px] md:max-w-[640px];
  }

  .listItem {
    @apply mx-4 mb-3 py-4 xl:mx-2 sm:text-sm;
  }

  .active {
    @apply relative animate-show text-red-100 before:absolute before:-inset-1 before:block  before:border-b-2 before:border-y-red-300 before:animate-width;
  }

  .customBlockWrapper {
    @apply m-auto mt-[150px] flex gap-20 lg:mt-[100px] lg:gap-10  md:w-[100%] md:flex-col md:px-6;
  }

  .customBlock {
    @apply m-auto h-[300px] w-[600px] resize-none rounded-lg border-[3px] border-indigo-300 bg-slate-100 p-4 shadow-lg shadow-slate-900 outline-none xl:w-[450px] lg:h-[200px] lg:w-[300px] md:w-[100%] sm:h-[150px];
  }
}

body {
  height: 100vh;
  background: rgb(113 113 122);
}
